<% provide(:title, "Sale history") %>

<%= render "shared/navbar" %>
<div class="bg-gray-100 py-12 px-6 xl:px-28 grid grid-cols-7 gap-8">
    <%= render "profiles/shared/side_navbar" %>
    <div class="md:col-span-5 col-span-full">
        <h1 class="text-3xl font-extrabold text-gray-900 text-center mb-8">Sale history</h1>
        <div class="">
            <article>
                <img src="https://via.placeholder.com/150">
            </article>
        </div>
    </div>
</div>

<%= javascript_pack_tag 'navbar' %>