<footer class="p-8 flex flex-col items-center text-gray-600 border-t">
    <div class="mb-4">
        <a href="https://www.facebook.com/" class="text-xl px-2 py-1 mx-1 rounded-md hover:bg-green-100 transition ease-in-out duration-150"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/" class="text-xl px-2 py-1 mx-1 rounded-md hover:bg-green-100 transition ease-in-out duration-150"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/" class="text-xl px-2 py-1 mx-1 rounded-md hover:bg-green-100 transition ease-in-out duration-150"><i class="fab fa-twitter"></i></a>
    </div>
    <%= link_to "Minima", root_path, class: "mb-4 font-medium bg-green-500 px-3 py-2 text-white", style: "border-radius: 50%;" %>
    <div class="text-sm">
        Copyright &copy; <span id="year"></span> Minima
    </div>
</footer>

<%= javascript_pack_tag 'footer' %>