<nav class="flex justify-center bg-gray-200 shadow-md px-2 border-b border-gray-300 bg-opacity-90">
    <div class="container">
        <div class="flex justify-between items-center">
            <%= link_to "Minima", root_path, class: "my-2 font-medium bg-green-500 px-3 py-2 text-white", style: "border-radius: 50%;" %>
            <% if user_signed_in? %>
                <div class="p-3">
                    <button class="w-8 h-8 text-xl"><i class="far fa-user-circle"></i></button>
                </div>
            <% end %>
        </div>
    </div>
</nav>
