// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#products-index__product:hover #products-index__product-title {
  text-decoration: underline;
}

.pagination {
  background-color: #fff;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.375rem;
  display: flex;
  justify-content: center;
}

.pagination > * {
  padding: 0.5rem;
  border-bottom-width: 3px;
  border-bottom-color: transparent;
}

.pagination > .current {
  border-bottom-color: #10b981;
}

.pagination > *:hover {
  background: #f3f4f6;
  border-bottom-color: #10b981;
}

.pagination > .disabled {
  display: none;
}

.pagination > .previous_page,
.pagination > .next_page {
  font-size: 0.875rem;
}
